@charset "UTF-8";


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--site-width: 600px;
	--border-clr: #cfcfcf;
	--back-clr: #fff8f1;
	--main-clr: #ffa44f;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: var(--back-clr);
}

.login-box {
	width: 500px;
	min-height: 400px;
	background-color: #fff;
	border: 1px solid var(--border-clr);
}

.login-hr {
	width: 80%;
}

#login-btn {
	background-color: var(--main-clr);
	color: #fff;
	font-size: 14px;
}


