@charset "UTF-8";

/* aside */
.gnb-logo {
	font-size: 36px;
	font-weight: bold;
	color: #fff;
}

aside {
	position: sticky;
	top: 0px;
	min-width: 200px;
	height: 100vh;
	background-color: var(--main-clr);
}

.nav {
	font-size: 18px;
}
.nav .nav-item .nav-link {
	color: #fff;
}

.nav .nav-item .nav-link:hover {
	color: #9F5A1A;
	background-color: #FFF8F1;
}

.nav .nav-item .nav-link.active {
	color: #9F5A1A;
	background-color: #FFF8F1;
}

.mypet-nav .add-pet-nav {
	position: relative;
	margin-left: 25px;
	color: #9F5A1A;
	font-size: 14px;
	text-decoration: none;
}

.mypet-nav .add-pet-nav:hover {
	text-decoration: none;
}

.gnb-logo-box {
	height: 150px;
}

.gnb-nav-box {
	height: 100%;
}

.gnb-login-btn-box {
	height: 150px;
}

.gnb-login-btn {
	background-color: #fff;
	border-radius: 8px;
	padding: 2px 30px 2px 30px;
	color: var(--main-clr);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.gnb-login-btn:hover {
	text-decoration: none;
	color: var(--main-clr);
}

.gnb-profile-img {
	width: 50px;
	border: 10px soild #fff;
	border: 3px solid var(--back-clr);
	border-radius: 50%;
}
.gnb-logout-btn {
	font-size: 10px;
	text-decoration: none;
}

.gnb-logout-btn:hover {
	text-decoration: none;
}

/* main */
/* not login */
.main-logo {
	font-size: 48px;
	font-weight: bold;
	color: var(--main-clr);
}

.text1 {
	font-size: 30px;
}

.text2 {
	font-size: 40px;
}

.main-signup-btn {
	background-color: var(--main-clr);
	width: 240px;
	height: 60px;
	font-size: 24px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}
.main-signup-btn:hover {
	color: #fff;
}

/* login */

.main-login-box {
	padding: 50px;
}


/* add pet page */
#add-pet-content {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px;
}

.add-pet-text {
	font-size: 36px;
	font-weight: bold;
	margin-bottom: -80px;
}

/* 반려동물 이미지 */
#add-pet-image-box {
	position: relative;
	top: 96px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: -35px;
}

.add-pet-image {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 130px;
	height: 130px;
	background-color: #fff;
	border: 3px solid var(--main-clr);
	border-radius: 50%;
	margin: 0;
	padding: 0;
}

#pet-img {
	border-radius: 50%;
	width: 120px;
	height: 120px;
}

#pet-image-btn {
	font-size: 12px;
	text-decoration: none;
}

#pet-image-btn:hover {
	text-decoration: none;
}

.add-pet-box {
	width: 500px;
	background-color: #fff;
	border: 1px solid var(--border-clr);
	padding-top: 120px;
}

/* 품종 선택 */
.radio-btn {
	color: var(--main-clr);
	border: 1px solid var(--main-clr);
}

.radio-btn:hover {
	color: #fff;
	background-color: var(--main-clr);
}

[name="species"]:checked + label {
	color: #fff;
	background-color: var(--main-clr);
}
[name="sex"]:checked + label {
	color: #fff;
	background-color: var(--main-clr);
}
#neuter:checked + label {
	color: #fff;
	background-color: var(--main-clr);
}

#add-pet-hr {
	width: 80%;
	color: var(--border-clr);
	padding: 0;
}

#main-pet-info {
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
#more-pet-info {
	height: 260px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#add-pet-btn {
	background-color: var(--main-clr);
	color: #fff;
	font-size: 14px;
	margin-bottom: 25px;
	padding: 3px 10px 3px 10px;
}
 
.count {
	margin-left: 11px;
}
.volume {
	margin-left: 7px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

